<!DOCTYPE html>
<html lang="en" ng-app="TD1">
<head>
    <meta charset="UTF-8">
    <title>App note</title>


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="noteApp.js"></script>
    <script src="noteController.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>

<body ng-controller="NoteController as noteCtrl">

<div class="container">
    <div ng-show="isRunning()" class="panel panel default">
        <div class="panel-body">

        </div>
    </div>


    <!-- ngView:  --><div ng-view="" class="toggle ng-scope" style=""><div id="note" class="ng-scope">
    <div class="panel panel-primary">
        <div class="panel-heading">Ex 1 : Note Application</div>
        <div class="panel-body">
            <div class="form-group">
                <p><label for="message">Note :</label>
                    <textarea data-ng-change="noteCtrl.count()" data-ng-change="noteCtrl.clear()" data-ng-model="noteCtrl.messageNote"  data-ng-change="noteCtrl.updateInfo()" name="message" id="message" data-ng-model="message" cols="40" rows="5" class="form-control ng-valid ng-valid-maxlength ng-dirty ng-valid-parse ng-touched" maxlength="100" style=""></textarea>
                </p>
                <p>
                    <button data-ng-click="noteCtrl.save()" class="btn btn-primary">Enregistrer</button>
                    <button data-ng-click="noteCtrl.clear()" class="btn btn-primary">Effacer</button>
                </p>

                <div ng-class="{'alert-warning': noteCtrl.warning,'alert-danger': noteCtrl.danger}" class="alert alert-info alert-dismissible" role="alert">Nombre de caractères restant : {{noteCtrl.caracRestant}}</div>
                
                <div ng-show="noteCtrl.info" ng-class="{'alert-success': noteCtrl.saved}" class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                        {{noteCtrl.info}}
                </div>

            
            </div>
        </div>
    </div>
</div></div>
</div>

</body>
</html>