<!--(Contenu de la page principale) Affichage du titre de la partie en cours + liens vers les cibles potentielles-->

<!DOCTYPE html>
<html ng-app="sampleApp">
	<head>
		<meta charset="UTF-8">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.min.js"></script>
	</head>
	<body>
		<a href="#/route1">Route 1</a><br/>
		<a href="#/route2">Route 2</a><br/>
		<div ng-view></div>
	</body>
</html>